.profile__add-button_plus {
  height: 50px;
  max-width: 150px;
  padding: 14px 64px;
  background-image: url(./../../../../images/Add-Button-sm.png);
  background-position: center;
}

@media screen and (max-width:816px) {
  .profile__add-button_plus {
    max-width: calc(100% - 19px*2);
    padding: 17px 133px;
    margin: 36px 19px 0 19px;
    background-image: url(./../../../../images/Add-Button-Big.png);
  }
}